.ssh
.kdev4
.vs
.vscode
.venv
__pycache__
.ipynb_checkpoints
*.fasta
*.ft.txt
*.zip
*.tar
*.fa
*.gz
*.gbff
*.gff
*.gtf
*.faa
*.fna
*.jsonl
data
dataset
keys
pretrained
result
thesis
remotes
wandb
run
tmux*
.idea
master
prediction
error-analysis
analysis
logs
outputs
rawdata
training
textfiles
sources
setup
sample
