.vscode
__pycache__
.ipynb_checkpoints
*.fasta
*.ft.txt
*.zip
*.tar
*.fa
*.gz
*.gbff
*.gff
*.gtf
*.faa
*.fna
*.jsonl
data
dataset
pretrained
result
workspace
remotes
wandb
run
tmux*
.idea
master
prediction
error-analysis
analysis
